<template>
  <div class="zmg-clock">
    <svg width="100%" height="100%" viewBox="0 0 200 200" preserveAspectRatio="none" xmlns='http://www.w3.org/2000/svg' class="zmg-clock-analog">
      <filter id="innerShadow" x="-20%" y="-20%" width="140%" height="140%">
        <feGaussianBlur in="SourceGraphic" stdDeviation="3" result="blur"/>
        <feOffset in="blur" dx="2.5" dy="2.5"/>
      </filter>
      <g>
        <circle id="shadow" style="fill:rgba(0,0,0,0.1)" cx="97" cy="100" r="87" filter="url(#innerShadow)"></circle>
        <circle id="circle" style="stroke: #FFF; stroke-width: 12px; fill:#000" cx="100" cy="100" r="80"></circle>
      </g>
      <image xlink:href="~assets/logo-white.svg" width="80" viewBox="0 0 628 240" x="60" y="50"></image>
      <g>
        <line x1="100" y1="100" x2="100" y2="26" style="stroke-width: 3px; stroke: #FF0000;" :transform="`rotate(${limitMarkAngle} 100 100)`" v-if="limitMark >= 0"/>
        <line x1="100" y1="100" x2="100" y2="55" style="stroke-width: 3px; stroke: #fffbf9;" :transform="`rotate(${hoursAngle} 100 100)`"/>
        <line x1="100" y1="100" x2="100" y2="40" style="stroke-width: 4px; stroke: #fdfdfd;" :transform="`rotate(${minuteAngle} 100 100)`"/>
        <line x1="100" y1="100" x2="100" y2="30" style="stroke-width: 2px; stroke: #C1EFED;" :transform="`rotate(${secAngle} 100 100)`"/>
      </g>
      <circle id="center" style="fill:#128A86; stroke: #C1EFED; stroke-width: 2px;" cx="100" cy="100" r="3"></circle>
      <line v-for="n in 12" x1="100" y1="30" x2="100" y2="40" :transform="`rotate(${n * 360 / 12} 100 100)`" style="stroke: #ffffff;" ></line>
    </svg>
  </div>
</template>
<script>
  export default {
    props: {
      limitMark: {
        type: Number,
        default: -1
      },
      startTime: {
        type: Number,
        default: Date.now()
      },
      timeIncrement: {
        type: Number,
        default: 1000
      }
    },
    data() {
      return {
        time: this.startTime
      }
    },
    mounted() {
      this.start();
    },
    beforeDestroy() {
      this.stop();
    },
    methods: {
      start() {
        this.intervalId = setInterval(() => this.time += this.timeIncrement, this.timeIncrement);
      },
      stop() {
        clearInterval(this.intervalId);
      }
    },
    computed: {
      date() {
        return new Date(this.time);
      },
      hoursAngle() {
        return 360 * this.date.getHours() / 12 + this.date.getMinutes() / 2;
      },
      minuteAngle() {
        return 360 * this.date.getMinutes() / 60;
      },
      secAngle() {
        return 360 * (this.date.getSeconds() + this.date.getMilliseconds() / 1000) / 60;
      },
      limitMarkAngle() {
        return 360 / 12 * this.limitMark;
      }
    }
  };
</script>
<style lang="scss">
  @import '~styles/variables';
  .zmg-clock {
    width: 150px;
    height: 150px;
    position: relative;
  }
  .zmg-clock-analog {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
  }
</style>