<template>
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <h1 class="title">
              Zemoga Penguin Report
            </h1>
            <h2 class="subtitle" v-if="title">
              {{ title }}
            </h2>
          </div>
          <div class="column is-narrow">
            <slot/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  export default {
    props: [
      'title'
    ]
  };
</script>