<template>
  <transition name="fade">
    <div class="modal is-active" :key="visible" v-if="visible">
      <div class="modal-background" @click="$emit('close')"></div>
      <div class="modal-content">
        <slot/>
      </div>
      <button class="modal-close" @click="$emit('close')"></button>
    </div>
  </transition>
</template>
<script>
  export default {
    props: {
      visible: {
        type: Boolean,
        default: false
      }
    }
  };
</script>