.box.has-actions {
  overflow: hidden;
  display: flex;

  .media {
    flex: 5;
  }
}

.box-actions {
  margin-left: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: -20px;
  margin-bottom: -20px;
  margin-right: -20px;
  border-left: 1px solid $grey-lighter;

  .button {
    flex: 1;
    border: none;
    border-radius: 0;

    + .button {
      border-top: 1px solid $grey-lighter;
    }
  }
}