@font-face {
    font-family: proxima-nova;
    src:url(https://use.typekit.net/af/be3421/00000000000000003b9aefb8/27/l?subset_id=1&fvd=n7&v=3) format("woff2"),
        url(https://use.typekit.net/af/be3421/00000000000000003b9aefb8/27/d?subset_id=1&fvd=n7&v=3) format("woff"),
        url(https://use.typekit.net/af/be3421/00000000000000003b9aefb8/27/a?subset_id=1&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src:url(https://use.typekit.net/af/1e35e2/00000000000000003b9aefc0/27/l?subset_id=1&fvd=n4&v=3) format("woff2"),
        url(https://use.typekit.net/af/1e35e2/00000000000000003b9aefc0/27/d?subset_id=1&fvd=n4&v=3) format("woff"),
        url(https://use.typekit.net/af/1e35e2/00000000000000003b9aefc0/27/a?subset_id=1&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: proxima-nova;
    src:url(https://use.typekit.net/af/b87a4f/00000000000000003b9aefbc/27/l?subset_id=1&fvd=n3&v=3) format("woff2"),
        url(https://use.typekit.net/af/b87a4f/00000000000000003b9aefbc/27/d?subset_id=1&fvd=n3&v=3) format("woff"),
        url(https://use.typekit.net/af/b87a4f/00000000000000003b9aefbc/27/a?subset_id=1&fvd=n3&v=3) format("opentype");
    font-weight: 300;
    font-style: normal;
}