// SLIDE
.slide-enter-active,
.slide-leave-active {
  transition: all .5s;
}
.slide-enter {
  transform: translate(100%);
  opacity: 0;
}
.slide-leave-to {
  transform: translate(-100%);
  opacity: 0;
}

.revert {
  &.slide-enter {
    transform: translate(-100%);
    opacity: 0;
  }
  &.slide-leave-to {
    transform: translate(100%);
    opacity: 0;
  }
}

// FADE
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

// EXPAND
.expand-enter-active,
.expand-leave-active {
    overflow: hidden;
    transition: max-height 0.5s;
}
.expand-enter-active {
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
    transition-delay: 0s;
}
.expand-leave-active {
    transition-timing-function: cubic-bezier(0, 1, 0, 1);
    transition-delay: -0.2s;
}

.expand-enter-to,
.expand-leave {
    max-height: 9999px;
}

.expand-enter,
.expand-leave-to {
    max-height: 0;
}
