@import "~node_modules/bulma/sass/utilities/initial-variables";
// Z Variables
$z-green: #10c64e;
$z-font: proxima-nova, Helvetica, sans-serif;

// Bulma Overrides
$primary: $z-green;
$family-primary: $z-font;

// Others
$max-footer-height: 200px;
