<template>
  <div class="zmg-report">
    <Hero title="Report">
      <Clock :limitMark="limitMark"/>
    </Hero>
    <ReportTools :filters="filters" :count="completedReports.length" :totalCount="items.length"/>
    <section class="section">
      <div class="container">
        <div class="content">
          <transition name="fade">
            <ReportListLoader v-if="loading"/>
            <ReportList :items="filterList" v-else/>
          </transition>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  // Config
  import config from '@/config';
  // Services
  import ReportSerive from '@/services/report';

  // Components
  import ReportTools from './ReportTools';
  import ReportList from './ReportList';
  import ReportListLoader from './ReportListLoader';

  const reportSerive = new ReportSerive();

  export default {
    name: 'report',
    components: {
      ReportTools,
      ReportList,
      ReportListLoader
    },
    data () {
      var today = new Date();

      return {
        items: [],
        limitMark: config.reportHourLimit,
        loading: true,
        filters: {
          search: '',
          date: `${today.toJSON().replace(/T\d\d:\d\d:\d\d\.\d+Z$/, '')}`
        }
      };
    },
    mounted() {
      this.load();
      // this.intervalId = setInterval(this.load, 30000);
    },
    destroyed() {
      clearInterval(this.intervalId);
    },
    methods: {
      load() {
        this.loading = true;
        reportSerive.get(this.filters.date).then((response) => {
          this.items = response.data;
          this.loading = false;
        }).catch(() => {
          this.loading = false;
        });
      }
    },
    computed: {
      filterList() {
        return this.items.filter(item => item['person-name'].toLowerCase().indexOf(this.filters.search.toLowerCase()) >= 0);
      },
      completedReports() {
        return this.items.filter(item => item.totalHours >= config.minReportHours);
      }
    },
    watch: {
      'filters.date': function() {
        this.load();
      }
    }
  };
</script>

<style lang="scss">
  @import "~styles/variables";
  .zmg-report-items.fade-leave-active,
  .zmg-report-items-loader.fade-leave-active {
    position: absolute;
  }
</style>
