<template>
  <div class="columns is-multiline is-narrow zmg-report-items-loader">
    <div class="column is-half" v-for="index in loadersCount" :key="index">
      <ReportItemFake/>
    </div>
  </div>
</template>
<script>
  import ReportItemFake from './ReportItemFake';

  export default {
    props: {
      loadersCount: {
        type: Number,
        default: 20
      }
    },
    components: {
      ReportItemFake
    }
  };
</script>