<template>
  <div class="box zmg-report-fake has-actions">
    <!-- item content -->
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64"/>
      </div>
      <div class="media-content">
        <div class="content is-large">
          <p>
            <span class="zmg-report-fake-bar1"/>
            <br>
            <span class="zmg-report-fake-bar2"/> <span class="zmg-report-fake-bar3"/>
          </p>
        </div>
      </div>
    </article>
    <!-- item actions -->
    <div class="box-actions">
      <span class="button"><span class="zmg-report-fake-bar1"/></span>
      <span class="button"><span class="zmg-report-fake-bar4"/></span>
    </div>
  </div>
</template>
<style lang="scss">
  @import "~styles/variables";
  .zmg-report-fake {
    border-left: 16px solid $grey-lighter;

    .button {
      cursor: default;
    }
    .image {
      background-color: $grey-lighter;
    }
  }
  @keyframes WiggleAnimation {
    0%{transform: scaleX(1)}
    33%{transform: scaleX(1.02)}
    66%{transform: scaleX(.95)}
    100%{transform: scaleX(1)}
  }
  .zmg-report-fake-bar1,
  .zmg-report-fake-bar2,
  .zmg-report-fake-bar3,
  .zmg-report-fake-bar4 {
    background-color: $grey-lighter;
    width: 100%;
    display: inline-block;
    height: 1em;

    transform-origin: left;
    animation: WiggleAnimation 1.5s linear infinite alternate;
    animation-delay: .05s;
  }
  .zmg-report-fake-bar2 {
    width: 25%;
    animation-delay: .03s;
  }
  .zmg-report-fake-bar3 {
    width: 5%;
    animation-delay: .01s;
  }
  .zmg-report-fake-bar4 {
    animation-delay: .03s;
  }
</style>