<template>
  <div class="box zmg-report-item-detail">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="~assets/profile-dummy.svg" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ item['person-name'] }}</strong> <small> {{ item.totalHours }}h</small>
            <br>
            <span>&lt;{{ email }}&gt;</span>
          </p>
        </div>
        <div class="content">
          <div v-for="(project, key) in projects" class="zmg-report-item-detail-project">
            <strong>{{ key }}: </strong>
            <table>
              <tr v-for="report in project.reports">
                <td>{{ report.todoName }}</td>
                <td class="has-text-right">{{ report.description }}</td>
                <td class="has-text-right">{{ report.hours }}h</td>
              </tr>
              <tr>
                <td colspan="2" class="has-text-right"><strong>Total:</strong></td>
                <td class="has-text-right">{{ project.totalHours }}h</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </article>
  </div>
</template>
<script>
  export default {
    props: {
      item: {
        required: true
      }
    },
    computed: {
      email() {
        if (this.item.email) {
          return this.item.email;
        }

        let email = this.item['person-name'].toLowerCase().split(' ');

        if (email.length === 3) { // Remove middle name
          email.splice(1, 1);
        }

        return email.join('.') + '@zemoga.com';
      },
      projects() {
        let projectMap = {};

        this.item.report.forEach((report) => {
          if (report.projectName) {
            let project = projectMap[report.projectName] || { reports:[], totalHours: 0 };
            project.totalHours += report.hours;
            project.reports = project.reports.concat(report);

            projectMap[report.projectName] = project;
          }
        });

        return projectMap;
      }
    }
  };
</script>
<style lang="scss">
  @import "~styles/variables";
  .zmg-report-item-detail-project {
    margin-bottom: 10px;
  }
</style>