<template>
  <nav class="nav has-shadow">
    <div class="container level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Find a person" v-model="filters.search">
              <span class="icon is-small is-left"><i class="fa fa-search"></i></span>
            </p>
          </div>
        </div>
        <div class="level-item">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="date" placeholder="Date" v-model="filters.date">
              <span class="icon is-small is-left"><i class="fa fa-calendar"></i></span>
            </p>
          </div>
        </div>
      </div>

      <div class="level-right">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>{{ count }} / {{ totalCount }}</strong> reports
          </p>
        </div>
      </div>
    </div>
  </nav>
</template>
<script>
  export default {
    props: {
      filters: {
        required: true
      },
      count: {
        type: Number,
        default: 0
      },
      totalCount: {
        type: Number,
        default: 0
      }
    }
  };
</script>