<template>
  <div class="box zmg-report-item has-actions" :class="classes">
    <!-- item content -->
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img :src="`static/${statusImage}`" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content is-large">
          <p>
            <strong>{{ item['person-name'] }}</strong>
            <br>
            <strong>Total hours: </strong><span>{{ item.totalHours }}</span>
          </p>
        </div>

      </div>
    </article>
    <!-- item actions -->
    <div class="box-actions">
      <button class="button" disabled="">Report</button>
      <button class="button" @click="detailVisible = true">Details</button>
    </div>
    <!-- item detail -->
    <Modal :visible="detailVisible" @close="detailVisible = false">
      <ReportItemDetail :item="item"/>
    </Modal>
  </div>
</template>
<script>
  // Config
  import config from '@/config';
  // Components
  import ReportItemDetail from './ReportItemDetail';

  export default {
    props: {
      item: {
        required: true
      }
    },
    components: {
      ReportItemDetail
    },
    data() {
      return {
        detailVisible: false
      }
    },
    computed: {
      status() {
        if (this.item.totalHours === 0) {
          return 2;
        } else if (this.item.totalHours > 0 && this.item.totalHours < config.minReportHours) {
          return 1;
        } else {
          return 0;
        }
      },
      statusImage() {
        const imgs = [
          'happy-penguin.png',
          'sad-penguin.png',
          'angry-penguin.png',
        ];

        return imgs[this.status];
      },
      classes() {
        return {
          'is-danger': this.status === 2,
          'is-warning': this.status === 1,
          'is-success': this.status === 0,
        }
      }
    }
  };
</script>
<style lang="scss">
  @import "~styles/variables";
  .zmg-report-item {
    border-left: 16px solid $grey-light;

    &.is-danger {
      border-left-color: $red;
    }
    &.is-warning {
      border-left-color: $yellow;
    }
    &.is-success {
      border-left-color: $z-green;
    }
  }

</style>