<template>
  <transition-group tag="div" name="slide" class="columns is-multiline is-narrow zmg-report-items">
    <div class="column is-half" v-for="(item, index) in items" :key="index" :style="{ 'transition-delay': `${ index * 0.025 }s` }">
      <ReportItem :item="item" :key="item"/>
    </div>
  </transition-group>
</template>
<script>
  import ReportItem from './ReportItem';

  export default {
    props: [
      'items'
    ],
    components: {
      ReportItem
    }
  };
</script>
<style lang="scss">
  .zmg-report-items {
    .column:nth-child(even) {
      &.slide-enter {
        transform: translate(100%);
        opacity: 0;
      }
      &.slide-leave-to {
        transform: translate(100%);
        opacity: 0;
      }
    }
    .column:nth-child(odd) {
      &.slide-enter {
        transform: translate(-100%);
        opacity: 0;
      }
      &.slide-leave-to {
        transform: translate(-100%);
        opacity: 0;
      }
    }
  }
</style>