<template>
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item is-brand" href="/">
          <img src="~assets/logo.svg" alt="zemoga">
        </a>
      </div>

      <span id="nav-toggle" class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div id="nav-menu" class="nav-right nav-menu">
        <a class="nav-item " href="/">
          Home
        </a>
        <a class="nav-item" disabled href="/">
          Report Hours
        </a>
      </div>
    </nav>
  </div>
</template>