<template>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Penguin Report</strong> by <a href="http://www.zemoga.com">Zemoga Inc.</a>
        </p>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
  @import "~styles/variables";
  .footer {
    position: absolute;
    bottom: 0;
    max-height: $max-footer-height;
    width: 100%;
  }
</style>