<template>
  <div id="app">
    <PageHeader/>
    <Report/>
    <PageFooter/>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader';
import Report from '@/components/Report';
import PageFooter from '@/components/PageFooter';

export default {
  name: 'app',
  components: {
    PageHeader,
    Report,
    PageFooter
  }
};
</script>

<style lang="scss">
@import "~styles/global";
  #app {
    min-height: 100%;
    position: relative;
    padding-bottom: $max-footer-height;
  }
</style>
